<div ng-controller="SearchCtrl">
  <h1>Search</h1>
  <p>If you want to search for tags add a "#" before your desired word, add a "." to search for filetypes and just add plain text for filename searches.</p>
  <input type="text" name="search" autocomplete="off" placeholder="Search" ng-model="search">
  <div ng-if="files.length === 0 && actualSearch.length > 2">
    Aint nothing here for you. :(
  </div>

  <b-file-list files={{files}}></b-file-list>
</div>
