/**
 * Utility classes
 *
 * For example, we store clearfix, alignment and similar items here. The classes
 * should be prefixed with u-, to make clear that they are simple,
 * single-purpose classes.
 */

* {
  box-sizing: border-box;
}

/* Make element full width */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* Float either direction */
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* text alignment */
.u-center-text {
  text-align: center;
}
.u-right-text {
  text-align: right;
}

.u-small-caps {
  font-size: 11px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.u-cf {
  // use bourbons clearfix
  @include clearfix;
}

.u-tooltip {
  display: inline;
  position: relative;

  &:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: $common-border-radius;
    bottom: 26px;
    color: #fff !important;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
  }
  &:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
  }
}
