<div ng-controller="CreateFromTextCtrl" class="c-fromtext">
  <form ng-submit="save()">
    <div class="message" ng-if="message">{{message}}</div>
    <div class="message" ng-if="url">It looks to us as if you're about to save a link.</div>
    <textarea placeholder="Paste/write your text here..." ng-model="text" class="wide" ng-disabled="{{loading}}"></textarea>
    <button class="wide green">
      <i class="fa" ng-class="{'fa-check-circle': !loading, 'fa-circle-o-notch fa-spin': loading}"></i>
      Save
    </button>
  </form>
</div>
