<% if current_user.nil? %>
  <%= link_to 'Sign in with Dropbox', user_omniauth_authorize_path('dropbox_oauth2') %><br>
  <%= link_to 'Sign in with Google', user_omniauth_authorize_path('google_oauth2') %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= render 'search/home' %>
  <div style="border:solid" ng-controller="DragDropCtrl">
    <div b-dropzone file="fileObject" name="fileName" object="dataObject" image="imageFile" drop="isDropped">
      <span>Put stuff here</span>
    </div>
    <div ng-show="isDropped">
      <!-- TODO: check strings for saving later -->
      <button ng-click="saveOpt('dropbox')">Dropbox</button>
      <button ng-click="saveOpt('drive')">Drive</button>
      <button ng-click="saveOpt('local')">Local</button>
      <button ng-click="saveOpt('')">Cancel</button>
    </div>
    <div>
      <img ng-if="imageFile" ng-src="{{imageFile}}"/>
      <span>{{fileName}} to {{saveTo}} as {{dataObject}}</span>
    </div>
  </div>
<% end %>

