<% if current_user.nil? %>
  <%= link_to 'Sign in with Dropbox', user_omniauth_authorize_path('dropbox_oauth2') %><br>
  <%= link_to 'Sign in with Google', user_omniauth_authorize_path('google_oauth2') %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= render 'search/home' %>
  <div style="border:solid" b-drop="[image/jpeg]" file="image" file-name="imageFileName">
    <span>Put stuff here</span>
  </div>
  <div>
    <img ng-src={{myFile}}/>
    <span>{{dunno}}</span>
  </div>
<% end %>

