<script type="text/ng-template" id="fileTree">
  {{file.name}}
  <a href="#" ng-click="expand(file)" ng-if="file.is_dir">{{file.expand ? 'collapse' : 'expand'}}</a>
  <ul ng-if="file.is_dir && file.expand && file.contents">
    <li ng-repeat="file in file.contents" ng-include="'fileTree'"></li>
  </ul>
</script>

<div ng-controller="FileCtrl">
  <h1>
    Hi, <%= current_user["name"] %>!
  </h1>

  <p ng-if="message.length > 0">
    {{message}}
  </p>

  <h2>
    Files <span ng-if="loading">Loading...</span>
  </h2>

  <ul>
    <li ng-repeat="file in files" ng-include="'fileTree'"></li>
  </ul>
</div>
