<div ng-repeat="file in files">
  {{file.name}} <input type="text" ng-model="file.tags" placeholder="tags">
</div>
<label for="tags">Tags for all:</label>
<js-tag js-tag-options="jsTagOptions"></js-tag>
<button ng-click="save()">save</button>
