<div ng-repeat="file in files">
  {{file.name}} <js-tag js-tag-options="file.jsTagOptions"></js-tag>
</div>
<label for="tags">Tags for all:</label>
<js-tag js-tag-options="jsTagOptions"></js-tag>
<button ng-click="save()">save</button>
