<h2>New tag for file: <%= @file.name %></h2>

<form>
  <p>
    <label for="tag_name">Tags:</label><br>
    <input name="tag_name" type="text" id="tag_name">
  </p>
  <input type="hidden" value="<%= @file.id %>" id="tag_file_id">
  <button type="submit" onclick="addTags()">Submit</button>

</form>

 <br>
<%= link_to 'Back', bruse_files_path %>
