<header class="public_header">
  <div class="public_header__logo">
    <%= link_to "Bruse", root_url, target: '_self' %>
    Bruse
  </div>
  <%= link_to 'Sign in', new_user_session_path, target: '_self' %>
  <%= link_to 'Sign up', new_user_registration_path, target: '_self' %>
</header>
