.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: $button-height;
  padding: 0 2 * $common-padding;
  color: $font-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $common-border-radius;
  border: 1px solid $gray;
  cursor: pointer;

  &:hover, &:focus {
    border-color: darken($gray, 30%);
    color: darken($font-color, 20%);
    outline: 0;
  }

  &.wide {
    @extend .u-full-width;
  }

  // this gives us more colorful alternatives and makes it possible to combine
  // the buttons with a class to make it pop
  $names: primary, blue, green, red, gray;
  $colors: $aqua, $blue, $green, $red, $gray;
  @for $i from 1 through length($names) {
    $color: nth($colors, $i);
    &.#{nth($names, $i)} {
      background: #{$color};
      border-color: #{$color};
      color: #fff;

      &:hover, &:focus {
        // check the lightness of the current color, darken or lighten the color
        // based on that
        @if lightness($color) > .5 {
          background: darken($color, 10%);
          border-color: darken($color, 10%);
        } @else {
          background: lighten($color, 10%);
          border-color: lighten($color, 10%);
        }
      }
    }
  }
}
