.browse {
  list-style-type: none;
  padding-left: 0;

  &__file {
    padding-left: $file-list-padding;
    background-color: white;

    &--folder > &__file__name {
      color: gray;
    }

    &__tools {
      opacity: 0;
    }
    &:hover > &__tools {
      opacity: 1;
    }
  }
}

.filelist {
  width: 100%;
  table-layout: fixed;
  color: lighten($font-color, 20%);

  &__header {
    text-align: left;
    border-bottom: 1px solid $silver;
  }

  &__file {
    border-bottom: 1px solid $header-background;

    &:hover {
      background: $header-background;
      color: $font-color;
    }

    &__name {
      color: $font-color;
    }
  }

  td, th {
    padding: .5 * $file-list-padding;
    // replace overflowing texts with "..."
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td.filelist__file__tags {
    white-space: normal;
  }

  // column widths
  // file name
  .col-1 {
    width: 22%;
  }
  // filetype
  .col-2 {
    width: 10%;
  }
  // date
  .col-3 {
    width: 10%;
  }
  // identity
  .col-4 {
    width: 12%;
  }
  // tags
  .col-5 {
    width: 35%;
  }
  // tools
  .col-6 {
    width: 6%;
  }
}

.files {
  &__more {
    text-align: center;
    padding: $common-padding 0;
  }
}
