$list-padding: 15px;

.c-filelist {
  list-style-type: none;
  padding-left: 0;

  &__file {
    padding-left: $list-padding;
    background-color: white;

    &:nth-child(even) {
      background-color: lighten($silver, 8%);
    }
    &--folder {
      color: gray;
    }

    &__tools {
      opacity: 0;
    }
    &:hover > &__tools {
      opacity: 1;
    }
  }
}
