$list-padding: 15px;

.browse {
  list-style-type: none;
  padding-left: 0;

  &__file {
    padding-left: $list-padding;
    background-color: white;

    &--folder > &__file__name {
      color: gray;
    }

    &__tools {
      opacity: 0;
    }
    &:hover > &__tools {
      opacity: 1;
    }
  }
}
