<!-- template for our file list -->
{{file.name}}
<a href="#" ng-click="expand(file)" ng-if="file.is_dir">{{file.expand ? 'collapse' : 'expand'}}</a>

<i class="fa fa-circle-o-notch fa-spin" ng-if="file.loading"></i>
<span class="browse__file__tools" ng-if="!file.bruse_file">
  <a href="#" ng-click="add(file)" class="tool" ng-if="!file.added">
    <%= fa_icon 'plus-square-o' %>
  </a>
  <a href="#" ng-click="remove(file)" class="tool" ng-if="file.added">
    <%= fa_icon 'minus-square-o' %>
  </a>
</span>

<ul ng-if="file.is_dir && file.expand && file.contents" class="browse">
  <li ng-repeat="file in file.contents" ng-include="'fileTree'" class="browse__file"
    ng-class="{'browse__file--folder': file.is_dir}"></li>
</ul>
