<script type="text/ng-template" id="fileTree">
 <%= render 'files/files/fileTree' %>
</script>

<script type="text/ng-template" id="fileBrowse">
 <%= render 'files/files/fileBrowse' %>
</script>

<script type="text/ng-template" id="tagCreate">
 <%= render 'tags/tagCreate' %>
</script>

<div ng-view></div>


<%= link_to 'My files', bruse_files_path %>
