<div class="files">
  <button ng-click="view_list = true">
    List
  </button>
  <button ng-click="view_list = false">
    Block
  </button>

  <div class="filter">
    <label ng-repeat="identity in identities()">
      <input type="checkbox" checked="1" ng-model="showIdentities[identity.name]" />
      {{identity.name}}
    </label>
  </div>

  <div ng-if="view_list">
    <table ng-if="hasFiles()">
      <tr>
        <th><a href="" ng-click="reverse = !reverse; order_by = 'name';">Filename</a></th>
        <th>Filetype</th>
        <th><a href="" ng-click="reverse = !reverse; order_by = 'identity.name';">Identity</a></th>
        <th><a href="" ng-click="reverse = !reverse; order_by = 'date';">Date</a></th>
        <th>Tags</th>
        <th>&nbsp;</th>
      </tr>
      <!-- this should be added in the future: | IdentityFilter:showIdentities -->
      <tr ng-repeat="file in files | orderBy : order_by : reverse">
          <td>
            <a ng-if="file.url" ng-href="{{file.url}}" target="_blank">
              <i class="fa fa-external-link"></i> {{file.name}}
            </a>
            <span ng-if="!file.url">
              <a href="#" ng-click="download(file.identity.id, file)">
                <i class="fa fa-download"></i>
              </a>
              {{file.name}}
            </span>
          </td>
          <td>
            {{file.filetype.indexOf('google-apps') > -1 ? getFiletype(file.filetype).slice(16,end) : getFiletype(file.filetype)}}
          </td>
          <td>
            <i class="fa fa-dropbox" ng-if="file.identity.service == 'dropbox_oauth2'"></i>
            <i class="fa fa-google" ng-if="file.identity.service == 'google_oauth2'"></i>
            {{file.identity.name}}
          </td>
          <td>{{file.date}}</td>
          <td>
            <a ng-href="{{file.paths.add_tags}}" title="Add tags">
              <i class="fa fa-plus-square"></i>
            </a>
            <span ng-repeat="tag in file.tags">
              <a ng-href="{{tag.path}}">
                #{{tag.name}}
              </a>
              <a ng-href="{{tag.destroy_path}}" data-method="delete">
                <i class="fa fa-minus-square"></i>
              </a>
            </span>
          </td>
          <td>
            <a ng-href="{{file.paths.file}}" data-method="delete" data-confirm="Are you sure?">
              <i class="fa fa-trash"></i>
            </a>
          </td>
      </tr>
     </table>
  </div>

  <div ng-if="!view_list && hasFiles()">
    <div ng-repeat="file in files" ng-click="download(file.identity.id, file)">
      <div class="block">
        <div>{{file.name}}</div>
        <div>{{file.date}}</div>
        <div ng-repeat="tag in file.tags">{{tag.name}}</div>
      </div>
    </div>
  </div>
</div>
