<button ng-if="new_files.length > 0" ng-click="save()">
  Save files!
</button>

<div class="tree">
  <div ng-repeat="file in files" ng-include="'fileTree'" class="tree__file"
    ng-class="{'tree__file--folder': file.is_dir}"></div>
</div>
